[submodule "TerrainGeneration/vendors"]
	path = TerrainGeneration/vendors
	url = https://github.com/glfw/glfw
[submodule "vendors/glfw"]
	path = vendors/glfw
	url = https://github.com/glfw/glfw
[submodule "vendors/glm"]
	path = vendors/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendors/imgui"]
	path = vendors/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendors/tracy"]
	path = vendors/tracy
	url = https://github.com/wolfpld/tracy
